@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}
.main{
    width: 100%;
    height:100vh;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.lform{
    border: 2px solid green;
    width: 400px;
    height:300px;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* justify-content: center; */
}
.register{
    margin:20px 0 30px 0;
    font-size: xx-large;
}
.form input{
    margin-bottom: 15px;
}
.lable{
    padding-bottom: 10px;
    margin-top: 10px;
}
.btn{
    padding: 5px 20px;
    margin: 20px;
    margin-left: 35px;
    border-radius: 20px;
    transition: .5s;
    font-weight: 1000;
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(255, 191, 0);
}
.input{
    padding: 10px;
    border-style: none;
    border-bottom: 1px solid black;
    outline-style: none;
    
}